# Virtual environment
.venv/

# PyCharm
.idea/

# Python
__pycache__/
*.pyc

# Output files
outputs/

# Large datasets
dataset/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
analysis/
    .gitkeep

docs/
    .gitkeep

visualization/
    .gitkeep

paper/
    .gitkeep